<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="text-lg font-medium">{{title}}</div>
    <div class="w-96 bg-white shadow rounded">
        Tailwind thingy
    </div>
    <main>{{content | safe}}</main>
</body>
</html>